<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Marriage Hall Booking System</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/booking.css') }}">
    </head>
    <body>
        <nav class="navbar container">
            <a href="#" class="logo">Velocity Prime</a>
            <a href="/" class="button" style="color:#fff; margin-top: 0cm;position: absolute;right: 10cm;">LogOut</a>
            <div class="menu">
                <ul class="list">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/add">New</a></li>
                    <li><a href="/booking">Bookings</a></li>
                </ul>
            </div>
        </nav>


        <h2>Welcome, {{ username }}!</h2>
        <!-- All Halls Section -->
        <h2 class="main-title">All Halls</h2>
        <hr class="hr1">
        <section class="main">
            <div class="hall">
                <div class="hall-name"><img src="{{ url_for('static', filename='images/hall_1.jpeg') }}" alt=""></div>
                <div class="view"><h3>Shrinath Pride</h3> <br><a href="/hall1" class="button">View more</a></div>
            </div>

            <div class="hall">
                <div class="hall-name"><img src="{{ url_for('static', filename='images/hall_2.jpg') }}" alt=""></div>
                <div class="view"><h3>Samarth Palace</h3> <br><a href="/hall2" class="button">View more</a></div>
            </div>

            <div class="hall">
                <div class="hall-name"><img src="{{ url_for('static', filename='images/hall_3.jpg') }}" alt=""></div>
                <div class="view"><h3>Parishram Mandapam</h3> <br><a href="/hall3" class="button">View more</a></div>
            </div>

            <div class="hall">
                <div class="hall-name"><img src="{{ url_for('static', filename='images/hall_4.jpg') }}" alt=""></div>
                <div class="view"><h3>Sanskar Mandapam</h3> <br><a href="/hall4" class="button">View more</a></div>
            </div>

            <div class="hall">
                <div class="hall-name"><img src="{{ url_for('static', filename='images/hall_5.jpg') }}" alt=""></div>
                <div class="view"><h3>Ajinkya Lawns</h3> <br><a href="/hall5" class="button">View more</a></div>
            </div>
            
        </section>
        <hr class="hr2">

        <!-- About Us Section -->
        <div class="bottom-div">
        <section class="abt">
            <h1 class="title">About Us</h1>
            <div class="about">
                <div class="left">           
                    <img src="https://images.unsplash.com/photo-1621801306185-8c0ccf9c8eb8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">         
                </div>
                <div class="right">
                    <p class="main-info">
                        Marriage Hall Management System is a one stop application for the users which let the users to compare different halls as per their requirements by providing all the information related to that hall such as hall name, hall capacity, hall area, hall cost, providing services by the corresponding hall and their ratings too. Upon deciding about a particular hall, the user can simply book the hall by providing few details and then his/her booking is done.
                       <br><br>
                       <b>Explore it further !!!</b>
                    </p>
                </div>
            </div>
        </section>

        <!-- Footer Section -->
        <section>
            <div class="footer">
                <h4>Copyright &copy; Velocity Prime 2023</h4>
            </div>
        </section>
        </div>
    </body>
</html>