<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Marriage Hall Booking System</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/booking.css') }}">

</head>
<body>
    <nav class="navbar ">
        <a href="#" class="logo">Velocity Prime</a>
    </nav>
	<div class="login-container">
        <form action="/" class="form-login" method="post">
            <h2 class="a">Admin</h2>
            <h3>Username</h3>
            <input class="login__input" type="text" placeholder="Enter Name" id="username" name="username" required autocomplete="off"/>
            <h3>Password</h3>
            <input class="login__input" type="password" placeholder="Enter Password" id="password" name="password" required/>
            <input type="submit" value="Sign in" class="login__submit"/>
        </form>
</div>

</body>
</html>
